<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 <form action="/updateGumballState" method="post">
	<input type="hidden" id="hashValue" name="hashValue" value="<%=hashValue%>"></input>
	<input type="hidden" id="gumballState" name="gumballState" value="<%=gumballState%>"></input>
	<input type="hidden" id="ts" name="ts" value="<%=ts%>"></input>
	
		<table border=1 align="center" width="650px">
			<tr>
				<td colspan="2" align="center"><h3><%= title %></h3></td>
			</tr>
			<tr>
				<td colspan="2">
					<table>
						<tr>
							<td width="200px"></td>
							<td><table><tr>
											<td>Serial Number :</td>
											<td><%= serialNumber%>
											<input type="hidden" id="serialNumber" name="serialNumber" value="<%=serialNumber%>">
											</td>
										</tr>
										<tr>
											<td>Model Number :</td>
											<td><%=modelNumber%></td>
											<input type="hidden" id="modelNumber" name="modelNumber" value="<%=modelNumber%>">
										</tr>
										<tr>
											<td>count :</td>
											<input type="hidden" id="count" name="count" value="<%=count%>">
											<td><%=count%></td>
										</tr>
										<tr>
											<td>State :</td>
											<td><%=gumballState%></td>
										</tr>
										<tr>
											<td>Status :</td>
											<td><%=status%></td>
											<input type="hidden" id="status" name="status" value="<%=status%>">
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
			<tr align="center">
				<td colspan=2><br><br><img src="/image/gumball.jpg" height="20%" width="60%"></td>
			</tr>
			
		</table>
		<table align="center">
			<tr height="50px">
				<td colspan=2></td>
			</tr>
			<tr>
				<td><button type=submit name="event" id="Insertevent" value="Insert Quarter">Insert Quarter</button></td>
				<td><button type=submit name="event" id="turnevent" value="Turn Crank">Turn Crank</button></td>
			</tr>
		</table>
	</form>
  </body>
</html>
